<nav>
   <div class="container">
      <h2 class="log">nokoSocial</h2>

      <div class="search-bar">
         <i class="uil uil-search"></i>
         <input type="search" placeholder="Search for creators, inspirations, and porjects">
      </div>

      <div class="create">
         <label class="btn btn-primary" for="create-post">Create</label>
         <div class="profile-photo">
            <img src="./images/kiritoG.jpg">
         </div>
      </div>
   </div>
</nav>
